.App {
  text-align: center;
}
body{
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 

input{
  background: black;
  color: #ffffffa6;
  border-top: none;
  width: 200px;
  padding: 5px;
}
.header{
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.App{
 margin-right: 800px;

}
#todos{
  color: aquamarine;
  margin-left: 300px;
  border-bottom: 2px solid bisque;

}
#todolist{
  display: "flex";
  width: 270px;
  flex-direction: column;
  margin: 0 auto;
  height: 250px;
}

     #submit{
       width: 400px;
       height: 30px;
       margin-left: 500px;
       margin-top: 240px;
     }

#todo{
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  display: flex;
  border: brown;
}